.empty-store-view {
  font-family: sans-serif;

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-store-view svg {
  max-width: 100px;
}
